<ul><strong><%= @artist.name %></strong></ul>
<li>Name:   <strong><%= @artist.name %></strong></li>
<li>Genre:   <strong><%= @artist.genre %></strong></li>
<li>Record company:    <strong><%= @artist.rec_company %></strong></li>

<img src="<%= @artist.poster %>" >
